[submodule "third-party/fzf"]
	path = third-party/fzf
	url = https://github.com/junegunn/fzf.git
	shallow = true
[submodule "third-party/powerlevel10k"]
	path = third-party/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	shallow = true
[submodule "third-party/zsh-autosuggestions"]
	path = third-party/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	shallow = true
